{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'embedded/give.css' %}" />

<!-- embed chart controller -->
<link rel="import" href="https://www.givengine.org/components/chart-controller/chart-controller.html">
{% endblock styles %}


{% block content %}
<div>
  <!-- embed the browser in the web page -->
  <chart-controller
    title-text="A 2-minute starter of building a genome browser with GIVE"
    ref="hg19"
    num-of-subs="2"
    coordinate='["chr18:19140000-19450000", "chr18:19140000-19450000"]'
    group-id-list='["genes", "CHi-C_promoter"]'
  ></chart-controller>
</div>
{% endblock content %}


{% block javascript %}
<script src="https://www.givengine.org/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
{% endblock javascript %}
